*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: inter;
}
/* Shared style */

.btn1{
    padding: 12.5px 16px;
    background-color: #469165;
    border:none;
    border-radius: 4px;
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
}
.btn2{
    padding: 16.5px 16px;
    background-color: #469165;
    border: 1px solid transparent;
    border-radius: 4px;
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 16px;
}
.btn3{
    padding: 16.5px 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
}
/* Button Hover */
.btn1:hover {
    background-color: orange;
    color:#000000;
    cursor: pointer;
    transition: ease-in 0.30s;
}
a .btn2:hover{
    border: 1px solid #ffffff;
    color: orange;
    background: transparent;
    transition: ease-out 0.30s;
}
a .btn3:hover{
    color: orange;
    transition: ease-out 0.30s;
}
/* Main style */

/* Nav section */
#nav-section ,.hero-container{
    width:88%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 16px 0;
}
#nav-section .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .footer-menu ul{
    gap: 20px;
    display: flex;
}
.nav-container .footer-menu ul li{
    list-style: none;
}
.footer-menu ul li a{
    color: #000000;
    text-decoration: none;
}
/* Hero-section */
#hero-section{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container .headline i{
    margin-right: 5px;
    color: #469165;
}
.hero-container{
    text-align: center;
    padding: 115px 0 180px 0px;
}
.hero-container .headline h5{
    margin: 0 auto;
    padding: 8px 16px 8px 16PX;
    background-color: #fff;
    width: 230px;
    border-radius: 1000px;
    text-align: center;
    color: #469165;
    margin-bottom: 16px;
}
.hero-container .headline h2{
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
}
.hero-container .headline h2 span{
    color: #30B868;
}
.hero-container .headline p{
    color: #ffffff;
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
}
.hero-container .twin-btn{
    margin-top: 32px;
    
}
.hero-container .twin-btn i{
    padding: 0 5px;
}
#card-section{
    width: 88%;
    max-width: 1380px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}
#card-section .card-container .card-title h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 50px 0 16px 0;
}
#card-section .card-container .card-title p{
    color: #627382;
}
.card-container .brain-card{
    margin-top: 44px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card-container .brain-card .card{
    padding: 70px 24px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 70px;
}
.brain-card .card img{
    background: #F95555;
    padding: 14px;
    border-radius: 10000px;
    margin-bottom: 16px;
}
.brain-card .card h2{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
#card-section .card-container p{
    color: #627382;
}

#brain-section ,#join-section{
    width: 88%;
    max-width: 1380px;
    margin: 120px auto;
}
#brain-section .brain-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brain-container .brain-headline{
    display: block;
}


.brain-title .brain-headline h5{
    text-transform: uppercase;
    color: #469165;
    margin-bottom: 16px; 
}
.brain-title .brain-headline h2{
    text-transform: capitalize;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 16px; 
    
}
.brain-title .brain-headline p{
    color: #627382;
    margin-bottom: 40px; 
}
.brain-title .brain-list{
    vertical-align: center;
}
.brain-title .brain-list ul{
    color: #001931;
    list-style: none;
    align-items: center;
}
.brain-title .brain-list li{
    display: flex;
    margin-bottom: 16px;
}
.brain-title .brain-list span{
    margin-left: 3px;
}

#join-section .join-container{
    text-align: center;
    padding: 80px 40px;
    background-color: #F7F6F2;
}
.join-container h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.join-container p{
    color: #627382;
    margin-bottom: 24px;    
}
.join-container .btn2{
    margin-bottom: 16px;    
}
.join-container a button:hover{
    background-color: orange;
    color:#000000;
    cursor: pointer;
    transition: ease-in 0.30s;
}







/* footer section */
#footer-section{
    background-color: #001931;
    padding-top: 120px;
    text-transform: capitalize;
}
#footer-section .footer-container{
    width: 1360px;
    margin: 0 auto;
    
}
.footer-container .footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.footer-top .social h2{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-top .social .icons{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
.footer-top .social .icons i{
    color: #000000;
    font-size: 14px;
    padding: 4px 2px;
    background-color: #ffffff;
    border-radius: 1000px;
    margin-right: 6px;
}
#footer-section .footer-bottom p{
    color: #FAFAFA;
    text-align: center;
    padding-bottom: 30px;
    border-top: 1px solid silver;
    padding-top: 30px;
    text-transform: capitalize;
}