*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: inter;
}
/* Shared style */

.btn1{
    padding: 12.5px 16px;
    background-color: #469165;
    border:none;
    border-radius: 4px;
}
.btn1 a{
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
}

/* Main style */

/* Nav section */
#nav-section{
    width:88%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 16px 0;
}
#nav-section .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .footer-menu ul{
    gap: 20px;
    display: flex;
}
.nav-container .footer-menu ul li{
    list-style: none;
}
.footer-menu ul li a{
    color: #000000;
    text-decoration: none;
}
/* Hero-section */
